<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title data-th-text="${titulo}"></title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" th:href="@{/css/style.css}"> 
	</head>
	<body>
		<header th:fragment="header">
			<div class="row me-2">
            	<div class="col-md-2 text-center container-md">
					<a data-th-href="@{/crud/principal}">
						<img class="imgEncabezado1 rounded" alt="Logo Universidad Nacional de Jujuy" src="https://www.estudiaradistancia.com.ar/logos/original/logo-universidad-nacional-de-jujuy.webp">
					</a>
				</div>
				<div class="col-md-10 custom-header">
					<h1 class="titulo text-start mt-2">Facultad de Ingeniería</h1>
					<p class="text-start frase fs-5 pb-2 pt-3"> "La educación es el arma más poderosa que puedes usar para cambiar el mundo"
				</div>
			</div>
			<nav class=" navbar navbar-expand-lg bg-body-tertiary m-2 rounded">
		    	<div class="container-fluid">
		        	<a class="navbar-brand" th:href="@{/crud/principal}">
		        		<img class="logo" alt="Logo Facultad de Ingeniería" src="https://fi.unju.edu.ar/images/fi-logo.png">
		        	</a>
			        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			          <span class="navbar-toggler-icon"></span>
			        </button>
			        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
			          <div class="navbar-nav">
			            <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
			            <a class="nav-link" href="#">Acerca de</a>
			            <a class="nav-link" data-th-href="@{/carrera/listado}">Carreras</a>
			            <a class="nav-link" data-th-href="@{/docente/listado}">Docentes</a>
			            <a class="nav-link" data-th-href="@{/alumno/listado}">Alumos</a>
			            <a class="nav-link" data-th-href="@{/materia/listado}">Materias</a>
			            <a class="nav-link" href="#noticias">Noticias</a>
			            <a class="nav-link disabled" aria-disabled="true">Contactos</a>
			          </div>
			        </div>
			      </div>
	   			</nav>
		</header>
		
</body>
</html>